@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif; 
  --shadow-shape: '0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03)',
  --shadow-shape-content: '0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.02), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02)',
  --opacity-2: 0.02;
  --text-xxs: 0.625rem;
  --animate-border: border 2s linear infinite;
}

@layer components {
  .btn-base {
    @apply text-zinc-400 rounded-lg transition-colors;
    @apply hover:text-zinc-100 hover:bg-zinc-800;
    @apply disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-default { @apply px-3 py-2; }
  .btn-icon { @apply p-2; }
  .btn-icon-sm { @apply p-1; }
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

